<div class="navbar navbar-expand-sm pr-0 pr-md-16pt mdk-header--fixed mdk-header--shadow navbar-light bg-white" id="default-navbar" data-primary>

  <!-- Navbar toggler -->
  <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- Navbar Brand -->
    <a href="{% url 'course:index' %}" class="navbar-brand">
      <img class="navbar-brand-icon" src="/assets/images/logo/black-100@2x.png" width="30" alt="{{ brand }}">
      <span class="d-none d-md-block">{{ brand }}</span>
    </a>
    {% include 'teacher/_navbar_right.html' %}
    
  <!-- // END Main Navigation -->

</div>