<!-- drawer -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-left ps sidebar-light" data-perfect-scrollbar>
                <div class="sidebar-p-a sidebar-b-b sidebar-m-b pt-0">

                    <!-- Brand -->
                    <a href="{% url 'course:index' %}" class="sidebar-brand">
                        <img class="sidebar-brand-icon" src="/assets/images/logo/black-100@2x.png" width="30" alt="{{brand}}">
                        <span>{{brand}}</span>
                    </a>
                    <!-- // END Brand -->
                </div>

                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'account:pricing' %}">Pricing</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'account:signup' 'Student' %}">SignUp</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!-- // END drawer -->