{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Reset Password {% endblock %}

{% block navbar %}
  {% include 'layouts/_navbar.pricing.html' %}
{% endblock %}

{% block sidebar%}
  {% include 'layouts/_account_sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="py-32pt" style="background-color: #f98437">
    <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
      <div class="flex">
        <h1 class="text-white flex mb-0">Reset Password Successfully</h1>
        <p class="lead text-white-50">Account Management</p>
      </div>
      <p class="d-sm-none"></p>
      <a href="" class="btn btn-outline-white flex-column">
        Need Help?
        <span class="btn__secondary-text">Contact us</span>
      </a>
    </div>
  </div>
  <div class="page-section bg-white">
	    <div class="container page__container">
            <div class="col-sm-6 mx-auto">
                <div class="alert alert-light border-1 border-left-3 border-left-accent d-flex mb-24pt" role="alert">
                    <i class="material-icons text-accent mr-3">check_circle</i>
                    <div class="text-body">
                    	Your password has been set.  You may go ahead and log in now.
                    </div>
                </div>
                <p><a href="{% url 'login' %}">Log In</a></p>
            </div>          
	    </div>
	</div>
 

{% endblock %}