{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Reset Password {% endblock %}

{% block navbar %}
  {% include 'layouts/_navbar.pricing.html' %}
{% endblock %}

{% block sidebar%}
  {% include 'layouts/_account_sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="bg-gradient-primary py-32pt">
    <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
      <div class="flex">
        <h1 class="text-white flex mb-0">Reset Password</h1>
        <p class="lead text-white-50">Account Management</p>
      </div>
      <p class="d-sm-none"></p>
      <a href="" class="btn btn-outline-white flex-column">
        Need Help?
        <span class="btn__secondary-text">Contact us</span>
      </a>
    </div>
  </div>
  <div class="page-section bg-white">
                <div class="container page__container">
                    <div class="col-sm-6 mx-auto">

                        
                        <form action="{% url 'password_reset' %}" method="POST">
                        	{% csrf_token %}
							{% for field in form %}
					              <div class="form-group">
					              	<label for="{{field.id_for_label}}"> Email: </label>					              						                
					                {% render_field field class="form-control" error_class="is-invalid" placeholder="Enter Email Address..." %}
					                <small class="form-text text-muted">We will email you with info on how to reset your password.</small>
	                            {% if form.errors %}	                            	
	                                <p class="invalid-feedback" style="display: block;">E-mail doesn't exist. Type correct e-mail address </p>
	                            {% endif %}

					              </div>
				              {% endfor %}
                            
                            <div class="text-center">
                                <button class="btn btn-accent btn-lg" type="submit">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
  
{% endblock %}