  <nav class="nav navbar-nav ml-auto flex-nowrap">
    <div class="nav-item dropdown d-none d-sm-flex ml-16pt">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
        <img width="32" height="32" class="rounded-circle" src="/assets/images/people/50/guy-3.jpg" alt="student" />
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header"><strong>Student</strong></div>
        <a class="dropdown-item" href="{% url 'teacher:dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="{% url 'teacher:manage_courses' %}">Courses</a>
        <div class="dropdown-divider"></div>
        
        <div class="dropdown-header"><strong>Account</strong></div>
        <a class="dropdown-item" href="{% url 'teacher:profile' %}">Profile</a>
        <a class="dropdown-item" href="student-billing-history.html">Billing</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </nav>