{% load custom_template_tags %}
{% load static %}
{% load_categorys as categorys %}
    
    <div class="modal courses-modal" id="courses" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-i8-plus bg-body pr-0">
                            <div class="py-16pt pl-16pt menu">
                                <ul class="nav flex-column">
                                    {% for category in categorys %}
                                        <li class="nav-item {%if forloop.counter0 == 0 %} active {%endif %}">
                                            <a class="nav-link "  href="#courses-{{category.name}}" data-toggle="tab">{{category.name|title}}</a>
                                        </li>                                    
                                    {% endfor %}                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-i8-plus-auto tab-content">

                            {% for category in categorys %}
                                <div id="courses-{{category.name}}" class="tab-pane {% if forloop.counter0 == 0 %} show active {% endif %} ">
                                    <div class="row no-gutters">
                                        <div class="col-md-12 p-0">
                                            <div class="p-24pt d-flex h-100 flex-column">
                                                <div class="flex">
                                                    <h5 class="text-black-100">Courses</h5>
                                                    {% for course in category.course_set.all %}
                                                    <div class="mb-16pt">
                                                        <a href="{% url 'course:course_detail' course.pk %}" class="media text-black-100">
                                                            <img src="{%get_media_prefix%}{{course.thumbnail_url}}" width="40" height="40" class="media-left rounded">
                                                            <span class="media-body">
                                                                <span class="card-title d-block mb-0">{{course.title}}</span>
                                                                <span class="text-muted text-black-70 d-flex lh-1">{{course.get_lesson_number}} lessons</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
